Common python function

In [1]:
abs(-3)

3

In [2]:
abs(-3.5)

3.5

In [3]:
max(2, 3, 4, 6)

6

In [4]:
pow(2, 3)

8

In [5]:
pow(2.5, 3.5)

24.705294220065465

In [6]:
round(3.51)

4

In [7]:
round(3.41)

3

Listing 3.1 MathFunctions

In [5]:
import math # Import math module to use the math functions

# Test algebraic functions
print("exp(1.0) =", math.exp(1))
print("log(2.78) =", math.log(math.e))
print("log10(10, 10) =", math.log(10, 10))

exp(1.0) = 2.718281828459045
log(2.78) = 1.0
log10(10, 10) = 1.0

ComputeAngles

In [7]:
import math

x1, y1, x2, y2, x3, y3 = eval(input("Enter six coordiante separated by comma, like x1, y1, x2, y2, x3, y3 :"))

# Compute site                                    
sideA = math.sqrt((x3 - x2) * (x3 - x2) + (y3 - y2) * (y3 - y2))
sideB = math.sqrt((x3 - x1) * (x3 - x1) + (y3 - y1) * (y3 - y2))
sideC = math.sqrt((x2 - x1) * (x2 - x1) + (y2 - y1) * (y2 - y1))

# Compute angles
angelesA = math.degrees(math.acos((sideA * sideA - sideB * sideB - sideC * sideC) / (-2 * sideB * sideC))) 
angelesB = math.degrees(math.acos((sideB * sideB - sideA * sideA - sideC * sideC) / (-2 * sideA * sideC)))
angelesC = math.degrees(math.acos((sideC * sideC - sideB * sideB - sideA * sideA) / (-2 * sideB * sideA)))

# Printout the result
print("The three angles are ", round(angelesA * 100) / 100, round(angelesB * 100) / 100, round(angelesC * 100) / 100)

Enter six coordiante separated by comma, like x1, y1, x2, y2, x3, y3 :1,1, 6.5, 1, 6.5, 2.5
The three angles are  15.26 90.0 74.74

Convert ASCI code

In [9]:
print("He said that \bJhon the program is easy to read")

He said that Jhon the program is easy to read

Print without the newline

In [4]:
print("AAA", end = ' ')
print("BBB", end = '')
print("CCC", end = '***')
print("DDD", end = '***')

AAA BBBCCC***DDD***

In [7]:
radius = 3
PI = 3.14
print("The area is", radius * radius * PI , end = ' ')
print("and the perimeter is ", 2 * radius)

The area is 28.26 and the perimeter is  6

The str function

In [11]:
s = str(3.4)
s

'3.4'

In [12]:
s = str(3)
s

'3'

The String Concatenation Operator

In [16]:
message = "Welcome " + "to " + "Python"
message

'Welcome to Python'

In [17]:
chapterNo = 3
s = "Chapter " + str(chapterNo)
s

'Chapter 3'

Reading String from the Console

In [21]:
s1 = input("Enter a string : ")
s2 = input("Enter a string : ")
s3 = input("Enter a string : ")

print("Kalimat diatas menjadi : " + s1 + " " + s2 + " " + s3)

Enter a string : Saya lagi
Enter a string : belajar
Enter a string : python
Kalimat diatas menjadi : Saya lagi belajar python

Study Case : ComputeChange

In [22]:
# Receive the amount
amount = eval(input("Enter an amount, for example , 11.56 :"))

# Convert the amount to cents
remainingAmount = int(amount * 100)

# Find the number of one dollars
numberOfOneDollars = remainingAmount // 100               # dollars
remainingAmount = remainingAmount % 100

# Find the number of quarters in the remaining amount
numberOfQuarters = remainingAmount // 25                  # quarters
remainingAmount = remainingAmount % 25

# Find the number of dimes in the remaining amount
numberOfDimes = remainingAmount // 10                     # dimes
remainingAmount = remainingAmount % 10

# Find the number of nickels in the remaining amount
numberOfNickels = remainingAmount // 5                    # nickels
remainingAmount = remainingAmount % 5

# Find the number of pennies in the remaining amount
numberOfPennies = remainingAmount                         # pennies

# Display the result
print("Your amount ", amount, "Consists of\n",
     "\t", numberOfOneDollars, "Dollars\n",
     "\t", numberOfQuarters, "quarter\n",
     "\t", numberOfDimes, "dimes\n",
     "\t", numberOfNickels, "nickels\n",
     "\t", numberOfPennies, "pennies")

Enter an amount, for example , 11.56 :11.56
Your amount  11.56 Consists of
 	 11 Dollars
 	 2 quarter
 	 0 dimes
 	 1 nickels
 	 1 pennies

Object and Methods

In [30]:
f = 8.7
id(f)

95832240

In [28]:
n = 3.7
type(n)

float

In [32]:
s = "\t Welcome \n"

'welcome'

In [34]:
s1 = s.lower()
s1

'welcome'

In [33]:
s1 = s.upper()
s1

'WELCOME'

In [35]:
s1 = s.strip()
s1

'Welcome'

Formatting Number

In [38]:
amount = 12618.98
interestRate = 0.0013
interest = amount * interestRate

Interest is  16.404674

In [40]:
print("Interest is ", format(interest, ".2f"))

Interest is  16.40

Format integer

In [64]:
print(format(59832, "10x"))

      e9b8

Formatting String

In [71]:
print(format("Welcome to Python and Java", ">20s"))

Welcome to Python and Java

Drawing Various Shapes

In [10]:
import turtle

turtle.pensize(3)
turtle.penup()
turtle.goto(-200, -50)
turtle.pendown()
turtle.speed(1)
turtle.circle(40, steps = 4)

turtle.done()

Drawing with Color and Font

In [ ]:
import turtle

turtle.pensize(3)
turtle.penup()
turtle.goto(-200, -50)
turtle.pendown()
turtle.speed(1)
turtle.begin_fill()
turtle.color("red")
turtle.circle(40, steps = 3)
turtle.end_fill()

turtle.penup()
turtle.goto(-100, -50)
turtle.pendown()
turtle.speed(1)
turtle.begin_fill()
turtle.color("blue")
turtle.circle(40, steps = 4)
turtle.end_fill()

turtle.done()

List function

In [32]:
listNumber = [1, 48, 36, 28, 3, 17]
friends = ["Kevin", "Juno", "Anton", "Doni", "Anton"]
friends2 = friends.copy()

print(friends2)

['Kevin', 'Juno', 'Anton', 'Doni', 'Anton']

tuples

In [34]:
coordinates = (4, 5)

print(coordinates[0])

4

Function

In [43]:
def sayhi(name, age):
    print("Hallo " + name + " you are " + str(age))

sayhi("Mieke", 35)
sayhi("Daniel", 40)

Hallo Mieke you are 35
Hallo Daniel you are 40

In [45]:
def saihy(name, age):
    print("Hallo " + name + " you are " + age)

saihy("Dona", "45")
saihy("April", "30")

Hallo Dona you are 45
Hallo April you are 30

Return Statement

In [54]:
def cube(num):
    return num * num * num

print(cube(4))

64

In [55]:
result = cube(4)

print(result)

64

If Statement

In [60]:
isMale = False
isTall = False

if isMale or isTall :
    print("You are a male or tall or both")

else :
    print("You are not a male")

You are not a male

In [63]:
def numMax(num1, num2, num3) :
    if num1 >= num2 and num1 >= num3 :
        return num1
    
    elif num2 >= num1 and num2 >= num3 :
        return num2
    
    else :
        return num3
    
print(numMax(300, 40, 5))

300

In [69]:
num1 = float(input("Enter number 1 :"))
op = input("Enter operator : ")
num2 = float(input("Enter number 2 :"))

if op == "+" :
    print(num1 + num2)

elif op == "-" :
    print(num1 - num2)

elif op == "*" :
    print(num1 * num2)
    
elif op == "/" :
    print(num1 / num2)
    
else :
    print("Operator not valid")

Enter number 1 :4
Enter operator : ()
Enter number 2 :4
Operator not valid

In [76]:
dayConversion = {
    1: "Sunday",
    2: "Monday",
    3: "Thursday",
    4: "Wednesday",
    5: "Tuesday",
    6: "Friday",
    7: "Saturday"
}
print(dayConversion.get(9))

None

Looping with "While"

In [78]:
i = 1

while i <= 10 :
    print(i)
    i += 1
    
print("Done with looping")

1
2
3
4
5
6
7
8
9
10
Done with looping

In [6]:
secretWord = "giraffe"
guess = ""
guessCount = 0
guessLimited = 3
outOfGuesses = False

while guess != secretWord and not outOfGuesses :
    if guessCount < guessLimited :
        guess = input("Enter guess : ")
        guessCount += 1
        
    else :
        outOfGuesses = True
        
if outOfGuesses :
    print("You lose the game !")
    
else :
    print("Correct !")

Enter guess : sfd
Enter guess : asfds
Enter guess : giraffe
Correct !

Looping with "For"

In [7]:
for letter in "Giraffe Academy" :
    print(letter)

G
i
r
a
f
f
e

A
c
a
d
e
m
y

In [10]:
friends = ["Jim", "Kirey", "John"]

for name in friends :
    print(name)

Jim
Kirey
John

In [12]:
for index in range(3, 10) :
    print(index)

3
4
5
6
7
8
9

In [13]:
for index in range(len(friends)) :
    print(friends[index])

Jim
Kirey
John

In [ ]:

True:
    a = 10
else:
    a = 5
    
a = 10 if True else 5